.left-shape {
    bottom: 168px;
    width: 135px;
    height: 236px;
    border-radius: 0 20px 20px 0;
}

.about {
    padding-bottom: 111px;
    padding-top: 23px;

    &__heading {
        font-size: 32px;
        line-height: 36px;
        font-weight: 900;
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 22px;
        margin-top: 74px;
    
        @media screen and (min-width: 768px){
            margin-left: 0;
            margin-bottom: 0;
            margin-top: 0;
        }
        @media screen and (min-width: 992px){
            max-width: 100%;
            margin-bottom: 27px;
        }
    }

    &__paragraph {
        font-size: 16px;
        line-height: 26px;
        max-width: 310px;
        margin-left: auto;
        margin-right: auto;
    
        @media screen and (min-width: 768px){
            max-width: 100%;
            margin-left: 0;
        }
    }


    @media screen and (min-width: 768px){
        padding-bottom: 141px;
        padding-top: 40px;
    }

    @media screen and (min-width: 992px){
        padding-bottom: 168px;
        padding-top: 30px;
    }
}

.about__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-small--bg {
        background-image: url(../../images/about_exta_small.png);
        height: 193px;
        margin-left: -16px;
        width: 37%;
        position: absolute;
        left: 0;

        @media screen and (min-width: 576px){
            background-image: url(../../images/about_md_small.png);
            height: 320px;
            margin-left: 0;
            position: initial;
            width: 100%;
        }

        @media screen and (min-width: 768px){
            margin-left: 0;
            width: 100%;
        }

        @media screen and (min-width: 992px){
            background-image: url(../../images/about_small.png);
            height: 480px;
        }
    }

    &-big--bg {
        height: 193px;
        background-image: url(../../images/about_extra_big.png);
        width: 100%;

        @media screen and (min-width: 576px){
            background-image: url(../../images/about_md_big.png);
            height: 320px;
        }

        @media screen and (min-width: 992px){
            background-image: url(../../images/about_big.jpg);
            height: 480px;
            width: 90%;
        }
    }
}