.right-shape {
    right: 0;
    top: 24px;
    width: 135px;
    height: 236px;
    border-radius: 20px 0 0 20px;
}

.hero {
    overflow: hidden;

    &__release {
        font-size: 12px;
        line-height: 18px;

        @media screen and (min-width: 375px) {
            font-size: 16px;
            line-height: 26px;
        }
    }

    &__heading {
        font-size: 48px;
        line-height: 48px;
        font-weight: 900;

        @media screen and (min-width: 992px){
            font-size: 56px;
            line-height: 56px;
        }
    }

    &__paragraph {
        font-size: 16px;
        line-height: 26px;

        @media screen and (min-width: 992px){
            font-size: 18px;
        }
    }

    &__image {
        background-repeat: no-repeat;
        background-size: cover;

        &--small {
            margin-top: 64px;
            margin-left: auto;
            margin-right: -15px;
            border-radius: 20px 0 0 20px;

            @media screen and (min-width: 576px){
                margin-right: -125px;
            }
        }
        

        @media screen and (min-width: 768px){
            background-image: url(../../images/hero_md.jpg);
            background-position: 0% -80px;
    
            border-radius: 20px 0 0 20px;
            height: 425px;
            margin-right: -150px;
        }
        @media screen and (min-width: 992px){
            background-image: url(../../images/hero_lg.jpg);
            background-position: 0%;
            border-radius: 20px;
            height: 480px;
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1200px){
        overflow: initial;
    }
}