.text-orange-dark {
    color: $orange-dark;
}
.text-orange-light {
    color: $orange-light;
}
.text-blue-dark {
    color: $blue-dark;
}
.text-blue-light {
    color: $blue-light;
}
.text-blue-light-extra {
    color: $blue-light-extra;
}

.bg-orange-dark {
    background-color: $orange-dark;
}
.bg-orange-light {
    background-color: $orange-light;
}
.bg-blue-dark {
    background-color: $blue-dark;
}
.bg-blue-light {
    background-color: $blue-light;
}
.bg-blue-light-extra {
    background-color: $blue-light-extra;
}